.header{
    border-radius: 1px solid;
}
.icon{
    height: 90px;
    padding: 0px 15px 0px 0;
}

.heading-text{
    font-size: 43px;
    color: blue;
    color: #0079D3;
    letter-spacing: 5px;
    font-weight:650;

}
.logo{
    text-decoration: none;
}

.login, .logout .sign-up{
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
}

.sign-up{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}

.sign-up:hover{
    opacity: 0.6;
}

.profile{
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
}

.profile:hover{
    border: 1px solid;
}
