<div class="reddit-body">
  <div class="container">
    <hr /><hr />
    <div class="row">
      <hr />
      <div class="col-md-9">
        <!-- Display ships-->
        <div class="row ship" *ngFor="let ship of ships$">
          <!-- Section to Display ship Information-->
          <div class="col-md-11">
            <hr />
            <div class="ship-title">
              <a class="shipname">{{ship.name}}</a>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
